<h1>{{ borough | title }} - {{ activity | title }}</h1>
<body>
    <h3>Description</h3> 
    
    <p style="width:50%">
    {{ venue }}
    </p>

<p> 
<b>Click the button below to return Home!</b>
</p>

<form action = "{% url 'city' %}">
    <input type = "submit" value = "Home">
</form>

</body>



<!-- <button type = "Submit" action ='nyc/templates/city.html' >Return to Home</button>
<a href='http://127.0.0.1:8000/'>Return to Home</a> -->
<!-- <a href="{% url 'city' %}">
    <button>Submit Button</button>
  </a> -->